<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns  	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://lapitz..com/"
	id		= "com.lapitz.test"
	version 	= "1.0.0">

	<name>Galderaitor</name>

	<description>
		Nik baino gehiago dakizula uste al duzu?
	</description>

	<author href="http://www.lapitz.com/galderaitor"
		email="galderaitor@lapitz.com">
		Lapitz digitala
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="kk.jpg" gap:role="default" />
	<icon src="kk.jpg" width="96" height="96" />
	<icon src="kk.jpg" width="72" height="72" />
	<icon src="kk.jpg" width="48" height="48" />
	<icon src="kk.jpg" width="36" height="36" />

    <gap:splash src="appcapture.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<param name="key" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAySPe4wUvBWvQ4AYVeQvgxaKZHIuwt7dFRsuSOC8GeVBQ6UkuV3R1Oni1FM1V+ChtNWmTrKXpr6p3d7WjVzhF7zlsjHwEMJUYExqC4K76pSkJ+75MRK1nwf9gUojHa7Kd2Wgx15xtRyqSay7srY579PU/AqzSgCNXaIC6ky4fIn7iaNgj4k2paBTb7REG6R1ZvFT+mlV6MnwNbT93MbsHcWN6f9I3Bz0G8MmDq0f18JpSOB2/25/YyyauErUHS4SGAbldwX2dayiMu4Na8W/2oYztpQCZeI5kPVo06oqH9/8VCqRyV5oxQ2syh6fZqKyW2Ia/DAizfF5js7xzKOUvyQIDAQAB"/>
	
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />


</widget>
